
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container" *ngIf="restaurant && comments">
  <img [src]="getImagePath(restaurant)" style="width: 100%;height: 35rem;object-fit: cover;" alt="">
  <div class="all">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search">
          <h2>{{restaurant.restaurantName.toUpperCase()}}</h2>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa-solid fa-house"></i>
                {{restaurant.restaurantAddress.charAt(0).toUpperCase() + restaurant.restaurantAddress.slice(1)}}
              </p>
              <p><i class="fa-solid fa-clock"></i> 06.00 / 22.00</p>

              <p *ngIf="restaurant.restaurantRate!=0 ">Restoran Puanı:
                <i class="fa-solid fa-star stars " *ngFor="let x of remainderRate"></i>
                <i class="fa-solid fa-star  remainderRateColor" *ngFor="let x of rate"></i>
                
              </p>
              <p *ngIf="restaurant.restaurantRate==0" style="color: #5e196b; font-weight: bold;">Henüz Puanlanlama Yaplımamıştır</p>
            </div>
            <div class="col-md-6">
              <p><i class="fa-solid fa-envelope"></i> {{restaurant.mailAddress}}</p>
              <p><i class="fa-solid fa-phone"></i> {{restaurant.phoneNumber}}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h4 class="filterText mb-3 p-2" style="border-radius: 5px;">Filtreler</h4>
        <div class="container filter">
          <h4 style="margin-left: 1rem;font-weight: bold;">Restoran Menüleri</h4>
          <ul class="filter_list">

            <mat-radio-button value="1">Burger</mat-radio-button>
            <mat-radio-button value="2">Yan Soslar</mat-radio-button>
            <mat-radio-button value="2">İçecek</mat-radio-button>
            <mat-radio-button value="2">Tatlı</mat-radio-button>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control"  placeholder="Restoran İçi Menü Arama..."
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 item"
        *ngFor="let menu of restaurantMenuDetails" style="position: relative;">
        <div class="card">
          <img class="card-img-top" [src]="getMenusImagePath(menu)" style="height:17rem;width: 100%; max-height: 17rem;"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold;">{{menu.menuTitle.charAt(0).toUpperCase() +
              menu.menuTitle.slice(1)}}</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{menu.menuDescription.charAt(0).toUpperCase() + menu.menuDescription.slice(1)}}</p>
              <p class="card-price">{{menu.menuPrice}} TL </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-100 mb-100 ">
      <div class="row">
        <div class="col-md-12">
          <h2>Restoran Yorumları</h2>
          <hr>
          <div class="alert alert-success" role="alert" *ngIf="comments.length == 0">
            Bu restorana daha önce hiç yorum yapılmamış!
          </div>
          <div class="card w-100 p-1" *ngIf="comments.length > 0">
            <div class="comment-widgets m-b-20">
              <div class="d-flex flex-row comment-row w-100" *ngFor="let comment of comments">
                <div class="p-2"><span class="round"><img
                      src="https://i2.wp.com/vdostavka.ru/wp-content/uploads/2019/05/no-avatar.png?fit=512%2C512&ssl=1"
                      alt="user" width="50"></span></div>
                <div class="comment-text w-100">
                  <h4 style="margin-bottom: .3rem;">{{comment.customerName.slice(0,1)}}*****</h4>
                  <div class="comment-footer mb-2">
                    <div class="d-flex justify-content-between">
                      <div>
                        <small>
                          <i class="fa-solid fa-star stars" *ngFor="let x of getRate(comment.restaurantRate)"></i>
                        </small>
                        <br>
                        <span class="date" style="font-weight: bold;">Başlık : {{comment.commentTitle}}</span>
                      </div>
                      <span>Paylaşıldı {{comment.commentDate}}</span>
                    </div>
                  </div>
                  <p class="m-b-5 m-t-10">
                    <b> İçerik :</b> {{comment.commentContent}}
                  </p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="row mb-3">
      <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 item"
        *ngFor="let menu of restaurantMenuDetails|menuPipe:filtered" style="position: relative;">
        <button class="btn addCart" (click)="addCart(menu)">
          <i class="fa-solid fa-plus"></i>
        </button>
        <div class="card">
          <img class="card-img-top" [src]="getMenusImagePath(menu)" style="height:17rem;width: 100%; max-height: 17rem;"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold;">{{menu.menuTitle.charAt(0).toUpperCase() +
              menu.menuTitle.slice(1)}}</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{menu.menuDescription.charAt(0).toUpperCase() + menu.menuDescription.slice(1)}}</p>
              <p class="card-price">{{menu.menuPrice}} TL </p>
            </div>
          </div>
        </div>
      </div>
    </div>



 -->