<section class="vh-100 bg-image"
  style="background-image: url('https://m.media-amazon.com/images/I/618iSND6llL._AC_UF1000,1000_QL80_.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class=" text-center mb-5">Giriş Yap</h2>

              <form [formGroup]="loginForm">
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password" />
                  <label class="form-label" for="form3Example4cg">Şifre</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="login()">Giriş Yap</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Hesabın yok mu? <a href="#!"
                    class="fw-bold text-body" routerLink="/register"><u>Hemen Kayıt ol</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>